/* body*/

body {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(89, 173, 104, 1) 50%, rgba(255, 255, 255, 1) 100%);
  padding: .5em;
}

p {
  font-size: 150%;
  line-height: 1;
  padding: 1%;
}

#intro {
  text-size-adjust: 150%;
  width: 100%;
  color: #041814cf;

}

/*header */

header {
  width: 96.875%;
  padding: 15px 1.5625%
}

#peru1 {
  max-width: 380px;
}

#peru2 {
  max-width: 380px;
}

#peru3 {
  max-width: 380px;
}

#peru4 {
  max-width: 380px;
}

.grid_contents {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: .5em;
  grid-template-areas:
    "peru1 peru2"
    "peru3 peru4";
}

/*flex box*/

h1 {
  font-family: 'Monomaniac One', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik Puddles', cursive;
}

img {
  border: 5px solid black;
  max-width: 100%;
  /* scalable image */
  max-height: auto;
}

.column {
  float: left;
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* NAV MEMU */

#nav_list_1 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
}

#nav_list_1 ul li {
  max-width: 80%;
  margin: .5em;
  border: 5px solid black;
  text-align: center;
  background-color: #ffffff;
}

#nav_list_1 ul li a {
  justify-content: center;
  display: block;
  padding: .7em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #800f0f;
}

#nav_list_2 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
}

#nav_list_2 ul li {
  max-width: 80%;
  border: 5px solid black;
  text-align: center;
  margin: .5em;
  background-color: #ffffff;
}

#nav_list_2 ul li a {
  justify-content: center;
  display: block;
  padding: .7em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #800f0f;
  background-color: #ffffff;
}

/* footer */

footer {
  clear: both;
  font-family: 'Monomaniac One', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 75%;
  width: 96.875%;
  padding: 1.5625%
}

/* breakpoints */
@media only screen and (max-width: 900px) {

  .grid_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 550px) {

  .row {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    padding: .5em;
  }

}