p {
  font-size: 125%;
  line-height: 1;
  padding: 1%px;
}

.intro {
  font-size: 150%;
  width: 100%;
  color: #041814cf;
  
}

/*header */

/*flex box*/

h1 {
  font-family: 'Monomaniac One', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik Puddles', cursive;
}

img {
  border: 5px solid black;
  max-width: 100%;
  /* scalable image */
  max-height: auto;
}


.nav_list a{
  width: 49%;
  padding-left: 20%;
  padding-right: 20%;
}

.column {
  float: left;
  width: 49%;
  display: flex;
  align-items: center;

}

/* NAV MEMU */
#nav_list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}


#nav_list ul li {
  width: 200px;
  margin-bottom: .5em;
  border: 5px solid black;
}

#nav_list ul li a {
  justify-content: center;
  display: block;
  padding: .5em .5em .5em .5em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #800f0f;
}


/* flex box for locations */

li {
  background: #C8DFEE;
  width: 150px;
  margin: 0 15px 15px 0;
  padding: 1%;
  text-align: center;
}

footer {
  font-family: 'Monomaniac One', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 75%;
}

body {
  
background: rgb(255,255,255);
background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(89,173,104,1) 70%, rgba(255,255,255,1) 100%);
/* 42% , rgba(219, 226, 226, 0) 100%); */
}

/* breakpoints */
@media (max-width: 700px)


@media only screen and (max-width: 600px) 


@media only screen and (min-width: 600px) 

 
@media only screen and (min-width: 768px) 


@media only screen and (min-width: 992px) 


@media only screen and (min-width: 1200px) 